body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 10%;
}

#block1 {
    background-color: red;
    margin-right: 20px;
}

#block2 {
    background-color: forestgreen;
    margin-left: 20px;
}

#resume {
    color: aliceblue;
    font-size: 20px;
}

#magicButton {
    outline: none;
    grid-column: 1 / 4;
    width: 200px;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    margin: 10px auto;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .5s;
}

#magicButton:hover {
    background-position: right center;
}
